{% extends "base.html" %}
{% load static %}

{% block title %}Image Gallery with Django{% endblock title %}

{% block content %}
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            {% if query %}
                <h2 class="col-6 tm-text-primary">
                    Search Results For: {{ query|title }}
                </h2>
            {% else %}
                <h2 class="col-6 tm-text-primary">
                    All Photos
                </h2>
            {% endif %}
        </div>

        <div class="row tm-mb-90 tm-gallery">
            {% for photo in photos %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ photo.photo.url }}" alt="{{ photo.alt_text }}" class="img-fluid" loading="lazy">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ photo.title }}</h2>
                            <a href="{% url 'photo_detail' title=photo.title %}">View more</a>
                            <!--<a href="{{ photo.photo.url }}">View more</a> -->
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ photo.created_at }}</span>
                        <span>{{ photo.views }} views</span>
                    </div> 
                </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->
{% endblock content %}