<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery with Django - Photos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'photos' %}">
                <img src="{% static 'img/image-gallery-logo.png' %}" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="{% url 'photos' %}">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg'%}">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            {% if query %}
                <h2 class="col-6 tm-text-primary">
                    Search Results For: {{ query|title }}
                </h2>
            {% else %}
                <h2 class="col-6 tm-text-primary">
                    All Photos
                </h2>
            {% endif %}
        </div>

        <div class="row tm-mb-90 tm-gallery">
            {% for photo in photos %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ photo.photo.url }}" alt="{{ photo.alt_text }}" class="img-fluid" loading="lazy">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ photo.title }}</h2>
                            <a href="{% url 'photo_detail' title=photo.title %}">View more</a>
                            <!--<a href="{{ photo.photo.url }}">View more</a> -->
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ photo.created_at }}</span>
                        <span>{{ photo.views }} views</span>
                    </div> 
                </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2022 <a href="https://github.com/london-ay">london-ay</a>. All rights reserved.
                </div>
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">TemplateMo</a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src='{% static "js/plugins.js" %}'></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
            $('.tm-search-form').first().submit( (event) => {
                event.preventDefault();
                const query = $('.tm-search-form input[type="search"]').first().val();
                const url = '{{ site_url }}' + '/?query=' + query;
                window.location.href = url;
                return false;
            })
        });
    </script>
</body>
</html>