{% extends "base.html" %}
{% load static %}

{% block title %}{{ photo.title }}{% endblock title %}

{% block content %}
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary text-center">{{ photo.title }}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-sm-6 mx-auto">
                <img src="{{ photo.photo.url }}" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Latest Photos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            {% for latest_photo in latest_photos %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ latest_photo.photo.url }}" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2 class="text-center">{{ latest_photo.title }}</h2>
                            <a href="{% url 'photo_detail' title=latest_photo.title %}">View more</a>
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ latest_photo.created_at }}</span>
                        <span>{{ latest_photo.views }} views</span>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->
{% endblock content %}